

body {
    background-color: #FEFBF3;
    margin: 0;
    font-family: 'Playfair Display', serif;
    text-align: center;
}


hr {
    border-style: none;
    height: 0.0625rem;
    border-width: 0.3125rem;
    background-color: #9D9D9D;
    width: 100%;
}

h1 {
    color: #181D31;
    width: 15%;
    margin: 0 auto 0 auto;
}

h2 {
    color: #181D31;
}

h3 {
    color: #141E27;
}

.intro_name {
    margin: 0 auto 0 auto;
}

.intro_name:hover {
    font-size: 2.1rem;
}

.intro_name {
    transition: 500ms font-size;
}
.profession_main:hover {
    text-shadow: 0 0.3125rem 0.125rem #9D9D9D;

}

.profession_main {
    transition: 1s text-shadow;
}

.header_main {
    background-color: #F8F0DF;
    margin: 0;
    padding: 0;
    border: 0;
    padding-top: 1rem;
    height: 1000%;
}

.contact_me, .about_me {
    transition: 1s border-color;
    position: absolute;
}

.contact_me {
    width: 5%;
    margin: 0 auto 0 auto;
    right: 25rem;
    color: #141E27;
    border-bottom: 2px solid transparent;
}

.about_me {
    width: 5%;
    right: 15rem;
    margin: 0 0 0 auto;
    color: #141E27;
    border-bottom: 0.125rem solid transparent;
}

.header_bar {
    background-color: #F8F0DF;
    margin: 0;
    padding-bottom: 1rem;
}

.contact_me:hover, .about_me:hover{
    border-color: black;
}

.career_interests{
    font-size: 1.6rem;

}

.interests{
    font-size: 1.1rem;
    margin-bottom: 3rem;
    font-family: "Merriweather", serif;
}

.pycon {
    position: relative;
    margin-right: 3rem;
}

.awsicon {
    position: relative;
    margin-right: 3rem;
}

.backendicon {
    position: relative;
    margin-right: 3rem;
}

.algoicon {
    position: relative;
}

.seperator {
    margin: 0;
}

.contact_details {
    text-align: left;
}


.skills_main {
    height: 480%;
    font-family: "Merriweather", serif;
    display: inline-block;
    width: 80%;
    margin: 0 auto 0 auto;
}

.abilities_skills{
    text-align: center;
    width: 40%;
    margin: 0 auto 0 auto;
    line-height: 1.7;
}

.critical_thinking {
    position: relative;
    bottom: 7rem;
    right: 15rem;
}

.git{
    position: relative;
    bottom: 7rem;
    left: 15rem;
}

.courses_table {
    text-align: left;
    width: 53%;
    margin: 0 auto 0 auto;
    font-family: "Merriweather", serif;
}

.table_header {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: 'Playfair Display', serif;
}

.skills_header {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
}

.hobbies_main {
    margin: 0 auto 4rem auto;
}

.Hobbies {
    text-align: left;
    width: 53%;
    margin: 0 auto 0 auto;
    font-family: "Merriweather", serif;
}

.biography_main {
    text-align: center;
    width: 75%;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    height: 16800%;
    font-family: "Merriweather", serif;
    line-height: 1.7;
}